@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

body {
  font-family: "Comic Neue", cursive;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #d30000;
}

h1 {
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

#loading {
  display: none;
  width: 30px;
  height: 30px;
  border: 4px solid lightgray;
  border-top: 4px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(0.25px, 0.25px) rotate(0deg);
  }
  10% {
    transform: translate(-0.25px, -0.5px) rotate(-0.25deg);
  }
  20% {
    transform: translate(-0.75px, 0px) rotate(0.25deg);
  }
  30% {
    transform: translate(0.75px, 0.5px) rotate(0deg);
  }
  40% {
    transform: translate(0.25px, -0.25px) rotate(0.25deg);
  }
  50% {
    transform: translate(-0.25px, 0.5px) rotate(-0.25deg);
  }
  60% {
    transform: translate(-0.75px, 0.25px) rotate(0deg);
  }
  70% {
    transform: translate(0.75px, 0.25px) rotate(-0.25deg);
  }
  80% {
    transform: translate(-0.25px, -0.25px) rotate(0.25deg);
  }
  90% {
    transform: translate(0.25px, 0.5px) rotate(0deg);
  }
  100% {
    transform: translate(0.25px, -0.5px) rotate(-0.25deg);
  }
}

#errorMessage {
  display: none;
  text-align: center;
  color: red;
}

#recordButton {
  margin: 10px;
  padding: 15px 25px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  color: white;
  box-shadow: 0 4px #999;
  font-family: "Comic Neue", cursive;
}

#recordButton.stop {
  background-color: green;
}

#recordButton.record {
  background-color: rgb(201, 114, 114);
}

#toggleTranscriptButton {
  margin: 20px 0px;
  padding: 1px 15px;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  background-color: #d1d1d1;
  color: white;
  box-shadow: 0 4px #999;
  font-family: "Comic Neue", cursive;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.audio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.audio-container audio {
  width: 200px;
  height: 40px;
}

.audio-container button {
  padding: 8px 16px;
  font-size: 1em;
  height: 40px; /* Same height as the audio element */
}

.hidden {
  display: none;
}

img {
  max-width: 50%;
  height: auto;
  margin: 20px 0;
  transition: transform 0.3s;
}

#conversation {
  margin-top: 20px;
}

#transcript {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
  font-family: "Comic Neue", cursive;
}
